*.ain
*.bsp
*.cache
*.dem
*.log
*.manifest
*.map
*.ncb
*.pdb
*.prt
*.sdf
*.suo
*.user
*.vmx
*.vpk
*.lnk
contentsrc/mapsrc/*.bsp
autoexec.cfg
newmapsettings.cfg
reactivedrop/addonlist.txt
reactivedrop/addonlist_workshop.txt
reactivedrop/bin/client.dll
reactivedrop/bin/missionchooser.dll
reactivedrop/bin/server.dll
reactivedrop/cfg/*.dat
reactivedrop/cfg/build_all_maps.cfg
reactivedrop/cfg/config.cfg
reactivedrop/cfg/server_blacklist.txt
reactivedrop/cfg/video.bak
reactivedrop/cfg/video.txt
reactivedrop/cfg/videodefaults.txt
reactivedrop/cfg/workshop.cfg
reactivedrop/demoheader.tmp
reactivedrop/modelsounds.cache
reactivedrop/save
reactivedrop/screenshots
reactivedrop/stats.txt
reactivedrop/tilegen_log.txt
reactivedrop/voice_ban.dt
src/game/client/Debug_swarm/
src/game/client/Release_swarm/
src/game/missionchooser/Debug/
src/game/missionchooser/Release/
src/game/server/Debug_swarm/
src/game/server/Release_swarm/
src/ipch
src/reactivedrop_vs13.opensdf
src/.vs
src/sourcelink.json
